@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100..900&family=Pixelify+Sans:wght@700&display=swap');

@media (min-width: 1921px) {

body {
    background-color: #e0e0e0;
}

#header {
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 20%;
    width: 1425px;
}

#header > * {
    margin: 17px 10px 44px;
    padding: 0;
    color: #fa6901;
    font-family: Inter;
    font-size: 30px;
}

#header a {
    text-decoration: none;
    color: #fa6901;
}

#header a:hover {
    color: #e06004;
}

#header h1 {
    margin-left: 3%;
    font-size: 30px;
}

.header_rod {
    height: 40px;
}

#header #pogoda, #karta, #novosti {
    margin-right: 50px;
    font-size: 25px;
}

#black_weather {
    color: #000;
}

#navbar {
    background-color: #fa6901;
    border: 1px solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    margin-left: 20%;
    width: 1405px;
    border: none;
    border-radius: 5px;
}

#navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #e0e0e0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

#navbar input {
    border-radius: 20px;
    border: 1px solid #ddd;
    height: 30px;
    text-align: center;
    color: #fa6901;
    font-size: 20px;
    outline: 0;
}

#navbar button {
    border-radius: 15px;
    height: 100%;
    background-color: #fa6901;
    border: 0;
    margin-left: 10px;
}

#navbar button:hover {
    background-color: #e06004;
}

#navbar input::placeholder {
    color: #fa6901;
}

article {
    margin-left: 20%;
}

#flex-container2 {
    margin-top: 10px;
    display: flex;
    margin-left: 37px;
}

#chetv {
    width: 1351.7px;
    display: flex;
    flex-direction: column;
    height: 800px;
    border-top: none;
    background-color: #FFFF;
    border-radius: 15px;
}

.chetv-inner {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-top: 90px;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    height: 170px;
    color: #fa6901;

}

#chetv .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.chetv-inner img {
    width: 170px;
    height: 145px;
}

.bottom-row .chetv-inner {
    margin-bottom: 0;
    width: 170px;
    height: 50px;
    margin-top: 0px;
}

#humid {
    padding-top: 160px;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 35px;
}

hr {
    height: 1px;
    margin-top: 100px;
    margin-left: 20%;
    width: 1425px;
    background-color: #fa6901;
}

#last {
    margin-right: 20px;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

.additional-row {
    display: flex;
    justify-content: space-between;

}

.additional-row .chetv-inner {
   box-shadow: none;
    height: 30px;
    color: #000;
    margin-top: 10px;
}

.additional-row > * {
    margin: 0;
    padding: 0;
    border: 0;
}

.cold {
    background-color: #76C43973; 
}

.cool {
    background-color: #76C43999; 
}

.warm {
    background-color: #76C439CC; 
}

.hot {
    background-color: #75c439; 
}
}

@media (min-width: 768px) and (max-width: 1920px) {
    body {
        background-color: #e0e0e0;
    }

    #header {
        display: flex;
        align-items: center;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
    }

    #header > * {
        margin: 17px 10px 44px;
        padding: 0;
        color: #fa6901;
        font-family: Inter;
        font-size: 30px;
    }

    #header a {
        text-decoration: none;
        color: #fa6901;
    }

    #header a:hover {
        color: #e06004;
    }

    #header h1 {
        margin-left: 3%;
        font-size: 30px;
    }

    .header_rod {
        height: 40px;
    }

    #header #pogoda, #karta, #novosti {
        margin-right: 50px;
        font-size: 25px;
    }

    #black_weather {
        color: #000;
    }

    #navbar {
        background-color: #fa6901;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        padding: 0 10px;
        margin-left: auto;
        margin-right: auto;
        width: 883px;
        border: none;
        border-radius: 5px;
    }

    #navbar a {
        margin: 0 15px;
        text-decoration: none;
        color: #e0e0e0;
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
    }

    #navbar input {
        border-radius: 20px;
        border: 1px solid #ddd;
        height: 30px;
        text-align: center;
        color: #fa6901;
        font-size: 20px;
        outline: 0;
    }

    #navbar button {
        border-radius: 15px;
        height: 100%;
        background-color: #fa6901;
        border: 0;
        margin-left: 10px;
    }

    #navbar button:hover {
        background-color: #e06004;
    }

    #navbar input::placeholder {
        color: #fa6901;
    }

    article {
        margin-left: auto;
        margin-right: auto;
    }

    #flex-container2 {
        margin-top: 10px;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    #chetv {
        width: 90%; 
        max-width: 830px;
        display: flex;
        flex-direction: column;
        height: auto; 
        border-top: none;
        background-color: #fff;
        border-radius: 15px;
        margin: 0 auto; 
    }

    .chetv-inner {
        width: 90%; 
        max-width: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin: 20px auto; 
        font-family: Inter;
        font-weight: 500;
        font-size: 20px;
        height: auto; 
        color: #fa6901;
    }

    #chetv .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .chetv-inner img {
        width: 100px;
        height: 96px;
    }

    .bottom-row .chetv-inner {
        margin-bottom: 0;
        width: 170px;
        height: 25px;
        margin-top: 0px;
    }

    #humid {
        padding-top: 50px;
        font-family: Inter;
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 15px;
    }

    hr {
        height: 1px;
        margin-top: 100px;
        margin-left: 20%;
        width: 1425px;
        background-color: #fa6901;
    }

    #last {
        margin-right: 20px;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 300;
    }

    .additional-row {
        display: flex;
        justify-content: space-between;
    }

    .additional-row .chetv-inner {
        box-shadow: none;
        height: 30px;
        color: #000;
        margin-top: 10px;
        font-size: 18px;
    }

    .additional-row > * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .cold {
        background-color: #76C43973; 
    }

    .cool {
        background-color: #76C43999;
    }

    .warm {
        background-color: #76C439CC; 
    }

    .hot {
        background-color: #75c439; 
    }
}